<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <% @questionnaire.questions.each do |question| %>
      <%= f.label question.content %><br>
        <ul>
          <%= f.fields_for :answer do |builder| %>
            <% question.answers.each do |answer| %>
              <li>
                <%= builder.radio_button(:quesitons, :answer, answer.content) %> 
              </li>
            <% end %>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
