<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <%#= collection_check_boxes(@questionnaire, :id, Survey.all, :id, :name) %>
    <div class="field">
         <% @surveys.each do |survey| %> 
            <%= check_box_tag "questionnaire[questionnaire_surveys_attributes][][survey_id]", survey.id %>
            <%= label_tag survey.name %>
         <% end %>
    
   </div>

<%= ff.fields_for :survey do |survey| %>
    <%= survey.collection_check_boxes :survey_ids, @surveys, :id, :name %>
<% end %>
   
    <%#= collection_radio_buttons(question, :id, Answer.where(question_id: question.id), :id, :content )%>
  </p>
   <div class="actions">
    <%= f.submit %>

  </div>
  <% end %>   