<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <div class="field">
    <%= f.fields_for :questionnaire_surveys do |ff| %>
       <%= ff.fields_for :survey do |builder| %>
         <% @surveys.each do |survey| %> 
         <%= builder.check_box :id, {}, survey.id %>
         <%= builder.label survey.name %>
         <% end %>
       <% end %>   
     <% end %>
    
   </div>
  </p>
   
   <div class="actions">
    <%= f.submit %>
   </div>
<% end %>   

